<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#" name="top">Chain Reaction</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#"><i class="icon-home"></i> Home</a></li>
          <li class="active"><a href="#"><i class="icon-file"></i> Pages</a></li>
          <li><a href="#"><i class="icon-envelope"></i> Messages</a></li>
          <li><a href="#"><i class="icon-signal"></i> Stats</a></li>
          
          <li><a href="#"><i class="icon-lock"></i> Permissions</a></li>
          
        </ul>
        <ul class="nav pull-right">
          <li><a href="/signup">Sign Up</a></li>
                    <li class="divider-vertical"></li>
        <% if !user_signed_in? %>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              
              <%= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-stacked" } do |f| %>
                <input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="user[email]">
                <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="user[password]">
                <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
                <label class="string optional" for="user_remember_me"> Remember me</label>
                <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">
                <%end%>
                <!-- <label style="text-align:center;margin-top:5px">or</label>
                                <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
                <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter"> -->
              
            </div>
          </li>
          <%else%>
          <li><%=link_to "Logout", destroy_user_session_path, method: :delete %>
          <%end%>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </div>
  <!--/.navbar-inner -->
</div>
<!--/.navbar -->
 
<script>
$(document).ready(function()
{
  //Handles menu drop down
  $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
        });
  });
</script>