<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html=>{:class=>"form-horizontal"}) do |f| %>
  <fieldset>
    <div id="legend">
      <legend class="">Login</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        <input type="text" id="username" name="user[email]" placeholder="" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="user[password]" placeholder="" class="input-xlarge">
      </div>
    </div>
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">&nbsp;</label>
      <div class="controls">
        <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %>Remember Me</div>
        <% end -%>
      </div>
    </div>


    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Login</button>
      </div>
    </div>
  </fieldset>
<% end %>
<%#= render "devise/shared/links" %>
